@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:wght@700&family=Kanit:wght@300&family=Martian+Mono&family=Merriweather:wght@300&family=Open+Sans:wght@300&family=Oswald:wght@300;400&family=Roboto+Mono&family=Rubik:ital,wght@0,500;1,900&display=swap');

:root {
  font-family: 'Gentium Book Plus', serif;
  font-family: 'Kanit', sans-serif;
  font-family: 'Martian Mono', monospace;
  font-family: 'Merriweather', serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Roboto Mono', monospace;
  font-family: 'Rubik', sans-serif;

  --primary: white;
  --primary-transparent: rgba(137, 207, 240, 0.3);

}

body {
  margin: 0;
  background-image: url("./assets/wallpaper.png");  
  background-attachment: fixed;
  background-size: cover;
}