@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:wght@700&family=Kanit:wght@300&family=Martian+Mono&family=Merriweather:wght@300&family=Open+Sans:wght@300&family=Oswald:wght@300;400&family=Roboto+Mono&family=Rubik:ital,wght@0,500;1,900&display=swap');

:root {
  font-family: 'Gentium Book Plus', serif;
  font-family: 'Kanit', sans-serif;
  font-family: 'Martian Mono', monospace;
  font-family: 'Merriweather', serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Roboto Mono', monospace;
  font-family: 'Rubik', sans-serif;

  --primary: rgb(100, 247, 255);
}

body {
  margin: 0;
  background-color: #1a1a1a;
  color: white;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}